.searchDiv{
  padding: 20px;
  border-bottom: 1px solid silver;
}

.searchDiv form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchDiv form input{
  width: 25%;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 8px;
  height: 24px;
}

.imageList{
  columns: 250px 5;
  column-gap: 10px;
}

.ImageListImg{
  width: 100%;
}